@tailwind base;
@tailwind components;
@tailwind utilities;

#hero::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(1, 5, 0, 0.9);
  z-index: -1;
}
